.article {
  color: white;
  text-align: center;
  display: grid;
}

.title {
  margin-top: 0;
  margin-bottom: 8px;
}

.seperator {
  height: 2px;
  background-color: red;
  width: 40px;
  justify-self: center;
  margin-top: 0;
}

.images {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
  margin: 0 200px;
}

.image {
  max-width: 250px;
  border-radius: 50%;
  overflow: hidden;
}
